<%layout('./layouts/boilerplate')%>
<body>
    <section style="overflow-x: hidden;">
        <h1 class="mt-4 responsive-heading ms-5">Product Details:</h1>
        <div class="containeroftabimage container mt-5">
            <img src="<%= listing.image.path %>" alt="" id="expandedImg" style="width: 100%;">
        </div>
        <div class="row mt-3 rowoftabimage ms-5">
            <div class="column columnoftabimage">
               <img src="<%= listing.image.path %>" alt="" style="width: 100%;" onclick="myFunction(this);" >
            </div>
            <div class="column columnoftabimage">
                <img src="<%= listing.image.path %>" alt="sorry" style="width: 100%;" onclick="myFunction(this);" >
             </div>
             <div class="column columnoftabimage">
                <img src="<%= listing.image.path %>" alt="" style="width: 100%;" onclick="myFunction(this);" >
             </div>
        </div>
        <div class="row productdetails">
            <div class="column offset-4 mt-4">
              <p class="productsinfo mb-4"><span style="font-weight: 510;">Product</span>: &nbsp;<%= listing.product %></p> 
              <p class="productsinfo"><span style="font-weight: 510;">Quantity</span>:<span style="color: rgb(148, 145, 145);">&nbsp;<%= listing.quantity %></span></p>
              <%if(!listing.discount){%>
              <p class="productsinfo"><span style="font-weight: 510;">Price</span>:<span style="color: rgb(148, 145, 145);">&nbsp; &#8377;<%= listing.price %></span></p> 
              <%}%> 
              <%if(listing.discount){%>
                <p class="productsinfo"><span style="font-weight: 510;">Price</span>:<span style="color: rgb(148, 145, 145);text-decoration: line-through;">&nbsp; &#8377; <%= listing.price%> </span></p> 
                <%}%>
              <%if(listing.discount){%>
              <p class="productsinfo"><span style="font-weight: 510;">Discount Price</span>:<span style="color: rgb(148, 145, 145);">&nbsp; &#8377;<%= listing.price - listing.discount %></span></p> 
              <%}%> 
              <p class="productsinfo" style="width: 838px;"><span style="font-weight: 510;">Description</span>: &nbsp;<span class="description-text"><%= listing.description %></span></p>
              <form action="/listing/addtocart/<%= listing._id %>" method="POST"><button class="showaddtocart btn btn-dark mt-3 mb-4"><b>Add to cart</b></button></form>
            </div>
        </div>
        <%if (currUser&&currUser._id.equals(ownerid)) {%>
            <div class="btns mb-4 mt-4">
              <a href="/editlisting/<%=listing._id%>/"  style="margin-right: 31px;" class="editbutton" ><button class="btn btn-success">Edit</button></a>
              <form method="POST" action="/deletelisting/<%=listing._id%>?_method=DELETE" style="display: inline;"><button class="btn btn-dark">Delete</button></form>
            </div>
          <%}%>
    </section>
    
    <script>
        function myFunction(imgs){
            let expandImg = document.getElementById("expandedImg");
            expandImg.src = imgs.src;
            expandImg.parentElement.style.display = "block";
        }
    </script>
</body>
